.app-container {
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.title-cont {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
